<link rel="stylesheet" href="application.css" type="text/css"> 
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

<div class="header"><div class="quote-text-logo">QuoteText</div></div>


<div class="main">
  
  
  <div class="front-overlay-message-content">
    <div class="font-overlay-message">
      QuoteText is a collection of quotes that you can access by SMS. Try texting one of these categories: 
    </div>
    <div class="quote-categories">
      <% Quote.pluck(:category).uniq.each do |category| %>
      "<%= category %>"
      <% end %>
    </div>
  </div>
  
  <!-- <div class="text-for-quote">Text <div id="number">(424) 903-2256</div> any of the keywords or click on any of them for a quote via SMS!</div>
  
  
  <div class="quote-categories">
    <% Quote.pluck(:category).uniq.each do |category| %>
    <%= category %>
    <% end %>
  </div> -->
</div>

<div class="footer"><div class="footer-copyright">© 2013 Jessica J. Kim</div></div>
